#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#canvas-container {
  border: 2px solid black;
  margin-bottom: 20px;
  
}

#buttons-container {
  display: flex;
  flex-direction: row;
}

button {
  margin-right: 10px;
}

canvas {
  cursor: crosshair;
}