#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#buttons-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  
}

.btn {
  margin-right: 10px;
  background-color: skyblue;
  font-size: 30px;
  padding: 10px 20px;
}

#canvas {
  cursor: crosshair;
  border: 3px solid skyblue;
}
nav {
  background-color: #333;
  color: #fff;
  font-size: 18px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #555;
}