.hello 
{
    color: black;
    text-align: center;
    font-size:3.0rem;
    font-weight:bold;
    background-color: greenyellow;
}
.info
{
    text-align: center;
    font-size:2.0rem;
}

.algoritms
{
    text-align: center;
    font-size:2.0rem; 
   
   
}