.hello 
{
    color: black;
    text-align: center;
    font-size:3.0rem;
    font-weight:bold;
    background-color: greenyellow;
}
.info
{
    text-align: center;
    font-size:2.0rem;
}

.algoritms
{
    text-align: center;
    font-size:2.0rem; 
   
   
}
nav {
  background-color: #333;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

canvas {
  border: 1px solid black;
}

button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
}